﻿@model Entidades.Ingrediente

@{
    ViewBag.Title = "Detalles Ingrediente";
}

<h2>Detalles Ingrediente</h2>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_ingrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_ingrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditarIngrediente", new {  id = Model.id_ingrediente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
