﻿@model IEnumerable<Entidades.Ingrediente>

@{
    ViewBag.Title = "Lista Ingredientes";
}

<h2>Lista Ingredientes</h2>

<p>
    @Html.ActionLink("Create New", "CrearIngrediente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_ingrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_ingrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarIngrediente", new {  id=item.id_ingrediente }) |
            @Html.ActionLink("Details", "DetallesIngrediente", new {  id=item.id_ingrediente }) |
            @Html.ActionLink("Delete", "DeleteIngrediente", new {  id=item.id_ingrediente })
        </td>
    </tr>
}

</table>
