﻿@model Entidades.Menu

@{
    ViewBag.Title = "Detalles Menu";
}

<h2>Detalles Menu</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria_id_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria_id_categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditarMenu", new {  id = Model.id_menu  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
