﻿@model List<ViewModels.MenuViewModel>

@{
    ViewBag.Title = "Lista Menus";
}

<h2>Lista de Menus</h2>

<p>
    @Html.ActionLink("Create New", "CrearMenu")
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            DESCRIPCION
        </th>
        <th>
            PRECIO
        </th>
        <th>
            IMAGEN
        </th>
        <th>
            CATEGORIA
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.id_menu
        </td>
        <td>
            @item.nombre
        </td>
        <td>
            @item.descripcion
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @item.imagen
        </td>
        <td>
            @item.categoria
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarMenu", new { id = item.id_menu }) |
            @Html.ActionLink("Details", "DetallesMenu", new { id = item.id_menu }) |
            @Html.ActionLink("Delete", "DeleteMenu", new { id = item.id_menu })
        </td>
    </tr>
    }

</table>
