﻿@model List<Entidades.Categoria>

@{
    ViewBag.Title = "Lista Categorias";
}

<h2>Categorias de Comidas</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            NOMBRE
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.id_categoria
        </td>
        <td>
            @item.nombre
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new {  id=item.id_categoria }) |
            @Html.ActionLink("Details", "Detalles", new {  id=item.id_categoria  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_categoria })
        </td>
    </tr>
}
</table>
