﻿@model IEnumerable<Entidades.IngredienteExtra>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Ingredientes Extra</h2>

<p>
    @Html.ActionLink("Create New", "CrearIngredienteExtra")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_ingrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_ingrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarIngredienteExtra", new {  id=item.id_ingrediente }) |
            @Html.ActionLink("Details", "Index", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeleteIngredienteExtra", new {  id=item.id_ingrediente })
        </td>
    </tr>
}

</table>
