﻿@model IEnumerable<ViewModels.MenuIngredienteExtraViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Menus con Ingredientes Extra</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_menu_ingrediente_extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreIngredienteExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_menu_ingrediente_extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreIngredienteExtra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Index", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Index", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeleteMenuIngredienteExtra", new {  id=item.id_menu_ingrediente_extra })
        </td>
    </tr>
}

</table>
