﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Natural Food</h1>
    <p class="lead">Registrate en nuestra plataforma!.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrate  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Jamon</h2>
        <img src="/img/Ensaladas/Jamon.jpg" alt="" style="width: 250px; height: 250px;" />
        <p>
            Ensalada de jamon.
        </p>
        <p class="price">Q20.00</p>
        <p><a class="btn btn-default" href="">Comprar &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Pollo</h2>
        <img src="/img/Ensaladas/Pollo.jpg" alt="" style="width: 250px; height: 250px;" />
        <p>
            Ensalada de pollo.
        </p>
        <p class="price">Q35.00</p>
        <p><a class="btn btn-default" href="">Comprar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Carne</h2>
        <img src="/img/Ensaladas/Carne.jpg" alt="" style="width: 250px; height: 250px;" />
        <p>
            Ensalada de carne.
        </p>
        <p class="price">Q35.00</p>
        <p><a class="btn btn-default" href="">Comprar &raquo;</a></p>
    </div>
         
</div>