﻿@model ViewModels.CreaMenuIngredienteViewModel
@using ViewModels
@using Logica
@using Entidades

@{
    ViewBag.Title = "Crear Menu de Ingrediente";
    List<MenuViewModel> listaMenus = new List<MenuViewModel>();
    List<Ingrediente> listaIngredientes = new List<Ingrediente>();

    LogicaMenus logicaM = new LogicaMenus();
    LogicaIngredientes logicaI = new LogicaIngredientes();
    listaMenus = logicaM.getMenus();
    listaIngredientes = logicaI.getIngredientes();

    SelectList selectListMenu = new SelectList(listaMenus,"id_menu","nombre");
    SelectList selectListIngrediente = new SelectList(listaIngredientes, "id_ingrediente", "nombre");
    ViewBag.listaMenus = selectListMenu;
    ViewBag.listaIngredientes = selectListIngrediente;


}

<h2>Crear Menu de Ingrediente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Crea Menu de Ingrediente ViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.nombreMenu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            

            @Html.DropDownList("dropDownMenus", ViewBag.listaMenus as SelectList, "Escoga Un menu")

        </div>
        
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombreIngrediente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            

            @Html.DropDownList("dropDownIngredientes", ViewBag.listaIngredientes as SelectList, "Escoga Un ingrediente")
        </div>
        
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
