﻿@model IEnumerable<ViewModels.MenuIngredienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Menus con sus Ingredientes</h2>

<p>
    @Html.ActionLink("Create New", "CrearMenuIngrediente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_menu_ingrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreIngrediente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_menu_ingrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreIngrediente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Index", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Index", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeleteMenuIngrediente", new {  id=item.id_menu_ingrediente })
        </td>
    </tr>
}

</table>
